<div class="card" style="width: 18rem">
  <div class="container-img-plant">
    <img src="{{ plant.image }}" class="card-img-top" alt="{{ plant.nom }}" />
  </div>
  <div class="card-body">
    <h5 class="card-title text-truncate" [title]="plant.nom">
      {{ plant.nom }}
    </h5>
    <p class="card-text">{{ plant.categorie }}</p>
    <div class="d-flex justify-content-around mt-3 mb-4">
      <div class="d-flex flex-column align-items-center">
        <p class="fw-bold">Arrosage</p>
        <div class="text-primary">
          <app-icons class="mx-1" [iconName]="water(1)"></app-icons>
          <app-icons class="mx-1" [iconName]="water(2)"></app-icons>
          <app-icons class="mx-1" [iconName]="water(3)"></app-icons>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <p class="fw-bold">Exposition</p>
        <div class="text-warning">
          <app-icons class="mx-1" [iconName]="sun(1)"></app-icons>
          <app-icons class="mx-1" [iconName]="sun(2)"></app-icons>
          <app-icons class="mx-1" [iconName]="sun(3)"></app-icons>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <button href="#" class="btn btn-success m-1">Je l'ai !</button>
      <button
        class="btn btn-info m-1"
        title="infos"
        routerLink="details/{{ plant.id }}"
      >
        <app-icons [iconName]="'bi bi-card-text'"></app-icons>
      </button>
    </div>
  </div>
</div>
