<div class="container">
  <div
    *ngIf="plantDisplayed"
    class="card position-absolute top-50 start-50 translate-middle"
  >
    <h3 class="card-header">{{ plantDisplayed.nom }}</h3>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5>Catégorie :</h5>
          <p>{{ plantDisplayed.categorie }}</p>
          <h5>Arrosage :</h5>
          <p>{{ plantDisplayed.arrosage }}</p>
          <h5>Ensoleillement :</h5>
          <p>{{ plantDisplayed.soleil }}</p>
        </div>
        <div class="col">
          <h5>Image :</h5>
          <img
            src="{{ plantDisplayed.image }}"
            alt="plant image"
            class="border rounded thumbnail"
          />
        </div>
      </div>
      <div class="text-end">
        <button class="btn btn-info mt-3" routerLink="../..">Retour</button>
      </div>
    </div>
  </div>
</div>
