<div class="custom-side-bar border-end">
  <div class="p-3">
    <span class="fs-5 fw-semibold">Filtres</span>
  </div>
  <hr />
  <div class="px-3">
    <p class="fs-5 fw-semibold">Catégories</p>
    <div class="form-check" *ngFor="let category of categoriesToDisplay">
      <input
        class="form-check-input"
        type="checkbox"
        value="{{ category }}"
        id="{{ category }}"
        (change)="onCheckedCategories($event)"
      />
      <label class="form-check-label" for="{{ category }}">
        {{ category }}
      </label>
    </div>
  </div>
  <hr />
  <div class="px-3">
    <p class="fs-5 fw-semibold">Arrosage</p>
    <div class="form-check water" *ngFor="let water of waterToDisplay">
      <input
        type="checkbox"
        class="form-check-input"
        value="{{ water }}"
        id="{{ water }}"
        (change)="onCheckedWater($event)"
      />
      <label
        for="form-check-label"
        for="{{ water }}"
        *ngFor="let drop of dropIcon; index as i"
        ><app-icons
          *ngIf="i >= water"
          class="fa-solid fa-droplet-slash text-primary"
        ></app-icons
        ><app-icons
          *ngIf="i < water"
          class="fa-solid fa-droplet text-primary"
        ></app-icons
      ></label>
    </div>
  </div>
  <hr />
  <div class="px-3">
    <p class="fs-5 fw-semibold">Ensoleillement</p>
    <div class="form-check sun text-warning" *ngFor="let sun of sunToDisplay">
      <input
        type="checkbox"
        class="form-check-input"
        value="{{ sun }}"
        id="{{ sun }}"
        (change)="onCheckedSun($event)"
      />
      <label
        for="{{ sun }}"
        class="form-check-label"
        *ngFor="let sunny of sunIcon; index as i"
        ><app-icons
          *ngIf="i > sunToDisplay.indexOf(sun)"
          class="fa-regular fa-sun"
        ></app-icons
        ><app-icons
          *ngIf="i <= sunToDisplay.indexOf(sun)"
          class="fa-solid fa-sun"
        ></app-icons
      ></label>
    </div>
  </div>
</div>
